%h2 Search for a WildFire:

- form_tag search_wild_fires_path, method: "get" do
	= select_tag "search[:state]", Location.all.collect {|d| [d.state, d.id]}
	= select_tag "search[:city]", Location.all.collect {|d| [d.city, d.id]}
	= select_tag "search[:location_id]", Location.all.collect {|d| [d.name, d.id]}
	= text_field_tag "search[:name]"
	= submit_tag "Search"