.container
  .col-md-12
  %h1 Listing Wild Fires
  %table.table.table-hover
    %thread
      %tr
        %th Name
        %th Firefighters deployed
        %th Hazard level
        %th Location
        %th City
        %th State

      - @wild_fires.each do |wild_fire|
        - location = Location.find(wild_fire.location_id)
        %tr
          %td= wild_fire.name
          %td= wild_fire.firefighters_deployed
          %td= wild_fire.hazard_level
          %td= location.name
          %td= location.city
          %td= location.state
          %td= link_to 'Show', wild_fire
          %td= link_to 'Edit', edit_wild_fire_path(wild_fire)
          %td= link_to 'Destroy', wild_fire, :method => :delete, :data => { :confirm => 'Are you sure?' }

  = button_to 'New Wild fire', new_wild_fire_path, :method => :get
